{% extends "base.html" %}
{% block content %}
    {% if current_user.is_authenticated %}
        {% if purchases %}
        <div class="jumbotron">
            <h4>Hi {{current_user.nickname}},</h4>
            <p>Here's the next product we'd love for you to review:</p>
            <div class="row">
              <div class="col-sm-12">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">{{purchases.product.name}}</h5>
                    <p class="card-text"><div class="col-sm-4"><img src="{{purchases.product.image}}" width="70%" align="left"></div>{{purchases.product.description}}</p>
                    <a href="writereview?id={{purchases.product.id}}" class="btn btn-outline-primary">Write Review</a>
                  </div>
                </div>
              </div>
              </div>
              <br>
        {% else %}
          <div class="jumbotron">
            <h4>Hi {{current_user.nickname}},</h4>
            {% if reviewthisweekcount == 5%}
            <p>Looks like you have submitted the maximum number of reviews for the week. Please check back again next week.</p>
            {% else %}
              <p>Looks like we don't have any products for you to review right now.  Please check back later.</p>
            {% endif %}
        {% endif %}
            <div class="row">
              <div class="col-sm-4">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title" Align="center">{{reviewcount}}</h5>
                    <p class="card-text" Align="center"><a href="{{url_for('list_reviews')}}">Total Reviews</a></p>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title" Align="center">{{reviewthisweekcount}}</h5>
                    <p class="card-text" Align="center"><a href="{{url_for('list_reviews')}}">Reviews This Week</a></p>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title" Align="center">{{reviewpoints}}</h5>
                    <p class="card-text" Align="center"><a href="{{url_for('profile')}}">Rewards Points Earned</a></p>
                  </div>
                </div>
              </div>
            </div>
        </div>
    {% else %}
      <div class="jumbotron-cover">
        <p><br><br></p>
        <div class="h1-home d-none d-sm-block">
          Tesco Customers,
          <br>
          Helping Tesco Customers
        </div>
        <div class="h1-home-small d-block d-sm-none">
          Tesco Customers,
          <br>
          Helping Tesco Customers
        </div>
      </div>
      <br><br>
        <div class="col-sm-12">
            <div>
              <h4>Welcome to the Tesco Content Community <sup>BETA</sup></h4>
              <p>A community of passionate Tesco customers that want to help other Tesco customers make more informed decisions about products they buy,
                and who want their valuable feedback to influence Tesco and brands - and earn more Clubcard points.</p>
              <p>Write reviews, share feedback, and create content, for products you buy at Tesco - and earn Clubcard points for participating. Your reviews, after being accepted, will be shown on the Tesco.com website.</p>
              <p><h4>How it works:</h4>
                <ol>
                  <li>Register to join the community</li>
                  <li>Write reviews, share feedback, create content - for products you buy at Tesco</li>
                  <li>Earn Clubcard points for accepted content</li>
                </ol>
              </p>
              <p>Please <a href="{{url_for('login')}}">sign in</a> or <a href="{{url_for('register')}}">register</a> to get started.</p>
            </div>
        </div>
    {%endif%}


{% endblock %}
