{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
<h4>Register</h4>
<div class="row">
  <div class="col-lg-8">
    <div class="card">
      <div class="card-body">
        <form method="post">
          <div class="form-group">
          {{form.hidden_tag()}}
          {{form.email.label}}
          <br>
           {% if form.email.errors[0]|length > 1 %}
              {{form.email(class_='form-control is-invalid')}}
              <small id="errortext" class="text-danger">{{ form.email.errors[0] }}</small>
            {% else %}
              {{form.email(class_='form-control')}}
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            {% endif %}
          </div>

          <div class="form-group">
          {{form.fname.label}}<br>
          {% if form.fname.errors[0]|length > 1 %}
            {{form.fname(class_='form-control is-invalid')}}
            <small id="errortext" class="text-danger">{{ form.fname.errors[0] }}</small>
          {% else %}
            {{form.fname(class_='form-control')}}
          {% endif %}
          </div>

          <div class="form-group">
          {{form.lname.label}}<br>
          {% if form.lname.errors[0]|length > 1 %}
            {{form.lname(class_='form-control is-invalid')}}
            <small id="errortext" class="text-danger">{{ form.lname.errors[0] }}</small>
          {% else %}
            {{form.lname(class_='form-control')}}
          {% endif %}
          </div>


          <div class="form-group">
          {{form.nickname.label}}<br>
          {% if form.nickname.errors[0]|length > 1 %}
            {{form.nickname(class_='form-control is-invalid')}}
            <small id="errortext" class="text-danger">{{ form.nickname.errors[0] }}</small>
          {% else %}
            {{form.nickname(class_='form-control')}}
            <small id="emailHelp" class="form-text text-muted">This is the name we will display with your reviews on Tesco.com.  For privacy reasons do not use your full name or email address.</small>
          {% endif %}
          </div>

          <div class="form-group">
          {{form.rewardsid.label}}<br>
          {% if form.rewardsid.errors[0]|length > 1 %}
            {{form.rewardsid(class_='form-control is-invalid')}}
            <small id="errortext" class="text-danger">{{ form.rewardsid.errors[0] }}</small>
          {% else %}
            {{form.rewardsid(class_='form-control')}}
          {% endif %}
          </div>

          <div class="form-group">
          {{form.password.label}}<br>
          {% if form.password.errors[0]|length > 1 %}
            {{form.password(class_='form-control is-invalid')}}
            <small id="errortext" class="text-danger">{{ form.password.errors[0] }}</small>
          {% else %}
            {{form.password(class_='form-control')}}
          {% endif %}
          </div>

          <div class="form-group">
          {{form.pass_confirm.label}}<br>
          {% if form.pass_confirm.errors[0]|length > 1 %}
            {{form.pass_confirm(class_='form-control is-invalid')}}
            <small id="errortext" class="text-danger">{{ form.pass_confirm.errors[0] }}</small>
          {% else %}
            {{form.pass_confirm(class_='form-control')}}
          {% endif %}
          </div>

          <div class="form-group form-check">
          {% if form.opt_in.errors[0]|length > 1 %}
          {{form.opt_in(class_='form-check-input is-invalid')}}
          <label class="form-check-label" for="opt-in">You must agree to the <a href="#">Terms and Conditions</a> for submitting content.</label>
          {% else %}
            {{form.opt_in(class_='form-check-input')}}
            <label class="form-check-label" for="opt-in">I agree to the <a href="#">Terms and Conditions</a> for submitting content.</label>
          {% endif %}
          </div>

          <div class="form-group">
          {{form.submit(class_='btn btn-outline-primary')}}
          </div>
        </form>
      </div>
    </div>
  </div>
  </div>

  </div>
{% endblock %}
