{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h4>My Reviews</h4>
      <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <table class="table">
            <thead>
            <tr>
              <th scope="col">Product</th>
              <th scope="col">Your Rating</th>
              <th scope="col">Reward Points</th>
              <th scope="col">Status</th>
            </tr>
            </thead>
            <tbody>
            {% for rev in reviews  %}
              <tr>
                <td><img src="{{rev.product.image}}" width="75" align="left"><a href="moderatorfeedback?id={{rev.id}}">{{rev.product.name}}</a></td>
                <td><img src="/static/{{rev.starrating}}-Star.png" alt="star rating" width="50"></td>
                <td>{{rev.product.reviewpoints}}</td>
                <td><a href="moderatorfeedback?id={{rev.id}}">{{rev.status}}</a></td>
              </tr>
              {% endfor %}
            </tbody>
            </table>
          </div>
        </div>
      </div>
      </div>
</div>
{% endblock %}
