{% extends "base.html" %}
{% block content %}
  <div class="jumbotron">
  <h4>Write Review</h4>
  <div class="row">
    <div class="col-lg-10">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <p class="card-text"><div class="col-sm-4"><img src="{{product.image}}" width="70%" align="left"></div>{{product.description}}</p>
        </div>
      </div>
    </div>
    </div>
  <br><br>
  <h5>Your Review</h5>

  <div class="row">
    <div class="col-lg-10">
      <div class="card">
        <div class="card-body">
          <form method="post">
            {{form.hidden_tag()}}
            <div class="form-group">
            Star Rating<br>
            <div id="rateYo"></div><div class="counter">&nbsp;</div>

            {{form.heading.label}}<br>
            {{form.heading(class_='form-control')}}
                <small id="errortext" class="text-danger">
                 {% for message in form.heading.errors %}
                     {{ message }}
                  {% endfor %}
               </small>
            </div>
            <div class="form-group">
              {{form.description.label}}<br>{{form.description(class_='form-control')}}
              <small id="errortext" class="text-danger">
              {% for message in form.description.errors %}
                  {{ message }}
               {% endfor %}
               </small>
            </div>

            {{form.starrating}}
            {{form.product_id}}
            {{form.submit(class_='btn btn-outline-primary')}}
          </form>
        </div>
      </div>
    </div>
    </div>



  <script type="text/javascript">
  var dict = {
    1: "Poor",
    2: "Fair",
    3: "OK",
    4: "Good",
    5: "Great!"
  }
  $(function () {
    var $rateYo = $("#rateYo").rateYo({
      precision: 0,
      onChange: function (rating, rateYoInstance) {
        $(this).next().text(dict[rating]);
      }
      });
    $("#rateYo").click(function () {
      /* get rating */
      var rating = $rateYo.rateYo("rating");
      document.getElementById('starrating').value=rating ;
    });
  });


  </script>


{% endblock %}
