{% extends "base.html" %}
{% block content %}
<div class="container-fluid pt-4 pl-2">
  <div class="row">
    <div class="col-lg-10">
    <h4>Write a Review</h4>
    <div class="col-sm-4" align="center"><img src="{{product.image}}" width="200" align="center"></div>
            <br />
            <h5>{{product.name}}</h5>
            <p>{{product.description}}</p>
    <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-10 form-group">
      <form method="post">

        <div class="row">
        {{form.hidden_tag()}}
        Star Rating<br>
        </div>

        <div class="row">
          <div id="rateYo"></div>
          <div id="counter" class="counter col-5 pt-2">&nbsp;</div>
          {% if form.starrating.errors[0]|length > 1 %}
            <small id="errortext" class="text-danger col-sm-12 pt-1 pl-0">{{ form.starrating.errors[0] }}</small>
            <br>
          {% endif %}
        </div>

        <div class="row pt-3 pr-3">
          {{form.heading.label}}<br>
          {% if form.heading.errors[0]|length > 1 %}
            {{form.heading(class_='form-control is-invalid', maxlength = 50)}}
            <small id="errortext" class="text-danger"><div id="heading_feedback" class="small-left">You must write at least 10 characters. Example: "This product has great features."</div><br></small>
          {% else %}
            {{form.heading(class_='form-control', maxlength=50)}}
            <small id="emailHelp" class="form-text text-muted"><div id="heading_feedback" class="small-left">You must write at least 10 characters. Example: "This product has great features."</div><br></small>
          {% endif %}
        </div>

        <div class="row pt-3 pr-3">
          <div class="col-sm-12 pl-0">
            <a href="#" data-toggle="collapse" data-target="#collapse" aria-expanded="false" aria-controls="collapseExample"> How to write a great review</a>
          </div>
          <div class="collapse pt-3" id="collapse">
              <div class="row">
                <div class="col-lg-12">
                  <div class="card">
                    <div class="card-body">
                      <strong>Do say:</strong>
                      <ul>
                        <li>Why did you buy the product - did you have a purpose in mind?</li>
                        <li>What did you like/not like about it - be specific</li>
                        <li>Tips and advice you would have found helpful when buying it</li>

                      </ul>
                      <strong>Avoid:</strong>
                      <ul>
                        <li>Personal information: Never include home addresses, email addresses or phone numbers</li>
                        <li>Any offensive or discriminatory language</li>
                        <li>Information about other websites or companies</li>
                        <li>Information about price (because prices might change over time)</li>
                        <li>Customer service issues - please contact our customer service team with these, they can help you more quickly</li>
                      </ul>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
        <div class="row pt-3 pr-3">
          <table>
            <tr>
              <td>{{form.description.label}}&nbsp;&nbsp;</td>
              <td><div id="RecordingSupported"><a href="#review-description" onclick="startDictation();"><img src="/static/microphone.png" alt="Record" height="50" class="bottompadding rightpadding"></a></div></td>
              <td><div id="RecordingStatus" class="recording"></div></td>
            </tr>
          </table>
          <br>
          {% if form.description.errors[0]|length > 1 %}
            {{form.description(class_='form-control is-invalid',rows='4')}}
            <small id="errortext" class="text-danger"><div id="textarea_feedback" class="small-left">You must write at least 100 characters.</div></small>
          {% else %}
            {{form.description(class_='form-control',rows='4')}}
            <small id="emailHelp" class="form-text text-muted"><div id="textarea_feedback" class="small-left">You must write at least 100 characters.</div></small>
          {% endif %}
        </div>
        <div class="row pt-3 pr-3">
            {{form.starrating}}
            {{form.product_id}}
            {{form.submit(class_='btn btn-outline-primary')}}
        </div>
      </form>
    </div>
  </div>

  <script type="text/javascript">

  //check to see if browser supports voice to text
  if (window.hasOwnProperty('webkitSpeechRecognition') == 0) {
      //remove button if not supported
      $('#RecordingSupported').html(' ');
  } else {
      //instantiate speech recognition object so that it can be referenced and stopped
      var recognition = new webkitSpeechRecognition();
  }

  var dict = {
    0: " ",
    1: "1 Star - Poor",
    2: "2 Stars - Adequate",
    3: "3 Stars - Average",
    4: "4 Stars - Good",
    5: "5 Stars - Excellent"
  }
  $(function () {
    if (document.getElementById('starrating').value){
      $('#counter').html(dict[document.getElementById('starrating').value])
      var $rateYo = $("#rateYo").rateYo({
        precision: 0,
        normalFill: "#D8D8D8",
        ratedFill: "#ED3431",
        rating: document.getElementById('starrating').value,
        onChange: function (rating, rateYoInstance) {
          $('#counter').html(dict[rating])
          }
        });
    } else {
      var $rateYo = $("#rateYo").rateYo({
        precision: 0,
        normalFill: "#D8D8D8",
        ratedFill: "#ED3431",
        onChange: function (rating, rateYoInstance) {
          $('#counter').html(dict[rating])
          }
        });
    }
    $("#rateYo").click(function () {
      /* get rating */
      var rating = $rateYo.rateYo("rating");
      document.getElementById('starrating').value=rating ;
    });

  });

  function displaylength(thefield,thefeedback,text_min,text_max){
    var raw_text = $(thefield).val();
    var text_length = raw_text.length;
    var min_text_remaining  = text_min - text_length
    var text_remaining = text_max - text_length;
    if (text_length < text_min && text_length>0){
      $(thefeedback).html('You must write ' + min_text_remaining + ' more characters before submitting.')
    } else if (text_length >= text_min) {
      $(thefeedback).html(text_remaining + '/' + text_max + ' maximum characters remaining.');
    }
  }

  $(heading).ready(function() {
    var text_min = 10;
    var text_max = 50;
    displaylength('#heading','#heading_feedback',text_min,text_max);

      $('#heading').keyup(function() {
        displaylength('#heading','#heading_feedback',text_min,text_max);
      });
  });

  $(document).ready(function() {
    var text_min = 100;
    var text_max = 2000;
    displaylength('#description','#textarea_feedback',text_min,text_max);

    $('#description').keyup(function() {
      displaylength('#description','#textarea_feedback',text_min,text_max);
    });
  });


  function startDictation() {
    if (window.hasOwnProperty('webkitSpeechRecognition')) {
      var text_min = 100;
      var text_max = 2000;
      recognition.continuous = true;
      recognition.interimResults = true;
      recognition.lang = "en-US";
      recognition.start();
      recognition.onresult = function(e) {
        var cursorPosition = $('#description').prop("selectionStart");
        var thestring = document.getElementById('description').value;
        var beforeCursor = thestring.substring(0, cursorPosition);
        var afterCursor = thestring.substring(cursorPosition,thestring.length);
        var newstring = beforeCursor + " " + e.results[0][0].transcript + afterCursor + " ";
        var cursPosAfterDictation = (beforeCursor + " " + e.results[0][0].transcript).length;
        document.getElementById('description').value = newstring;
        $('#description').focus()
        $('#description').prop("selectionEnd", cursPosAfterDictation);
        displaylength('#description','#textarea_feedback',text_min,text_max);
        $('#RecordingStatus').html('')
        recognition.stop();
      };
      recognition.onstart = function() {
          $('#RecordingStatus').html('<a href="#review-description" onclick="stopDictation();"><img src="/static/stop.png" alt="stop" height="50" class="bottompadding rightpadding"></a> Recording' );
      };
      recognition.onend = function() {
        $('#RecordingStatus').html('')
      };
    }
    else {
      alert('Unfortunately, your browser does not support voice to text.  Please use the text area field to enter your review.')
    }
  }
  function stopDictation() {
    recognition.abort();
    $('#RecordingStatus').html(' ');
  }
</script>
{% endblock %}
