{% extends "base.html" %}
{% block content %}
  <div class="jumbotron">
  <h4>Write Review</h4>
  <div class="row">
    <div class="col-lg-10">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <p class="card-text"><div class="col-sm-4"><img src="{{product.image}}" width="70%" align="left" class="rightpadding"></div>{{product.description}}</p>
        </div>
      </div>
    </div>
    </div>
  <br><br>
  <h5>Your Review</h5>

  <div class="row">
    <div class="col-lg-10">
      <div class="card">
        <div class="card-body">
          <form method="post">
            {{form.hidden_tag()}}
            <div class="form-group">
            Star Rating<br>
            <table>
              <tr>
                <td><div id="rateYo"></div></td>
                <td><div id="counter" class="counter">&nbsp;</div></td>
              </tr>
            </table>
            {% if form.starrating.errors[0]|length > 1 %}
              <small id="errortext" class="text-danger">{{ form.starrating.errors[0] }}</small>
              <br>
            {% endif %}
            <br>
            {{form.heading.label}}<br>
            {% if form.heading.errors[0]|length > 1 %}
              {{form.heading(class_='form-control is-invalid', maxlength = 50)}}
              <small id="errortext" class="text-danger"><div id="heading_feedback" class="small-left">You must write at least 10 characters. Example: "This product has great features."</div><br></small>
            {% else %}
              {{form.heading(class_='form-control', maxlength=50)}}
              <small id="emailHelp" class="form-text text-muted"><div id="heading_feedback" class="small-left">You must write at least 10 characters. Example: "This product has great features."</div><br></small>
            {% endif %}
            </div>
            <p>
            <a href="#" data-toggle="collapse" data-target="#collapse" aria-expanded="false" aria-controls="collapseExample">
              How to write a great review
            </a>
            </p>
            <div class="collapse" id="collapse">
              <div class="row">
                <div class="col-lg-12">
                  <div class="card">
                    <div class="card-body">
                      <strong>Do say:</strong>
                      <ul>
                        <li>Why did you buy the product - did you have a purpose in mind?</li>
                        <li>What did you like/not like about it - be specific</li>
                        <li>Tips and advice you would have found helpful when buying it</li>

                      </ul>
                      <strong>Avoid:</strong>
                      <ul>
                        <li>Personal information: Never include home addresses, email addresses or phone numbers</li>
                        <li>Any offensive or discriminatory language</li>
                        <li>Information about other websites or companies</li>
                        <li>Information about price (because prices might change over time)</li>
                        <li>Customer service issues - please contact our customer service team with these, they can help you more quickly</li>
                      </ul>
                    </div>
                  </div>
                </div>
            </div>
            <br>
            </div>
            <div class="form-group">
            <table>
              <tr>
                <td>{{form.description.label}}&nbsp;&nbsp;</td>

                <td><div id="RecordingSupported"><a href="#review-description" onclick="startDictation();"><img src="/static/microphone.png" alt="Record" width=40 class="bottompadding rightpadding"></a></div></td>
                <td><div id="RecordingStatus" class="recording"></div></td>
              </tr>
            </table>
            {% if form.description.errors[0]|length > 1 %}
              {{form.description(class_='form-control is-invalid',rows='4')}}
              <small id="errortext" class="text-danger"><div id="textarea_feedback" class="small-left">You must write at least 100 characters.</div></small>
            {% else %}
              {{form.description(class_='form-control',rows='4')}}
              <small id="emailHelp" class="form-text text-muted"><div id="textarea_feedback" class="small-left">You must write at least 100 characters.</div></small>
            {% endif %}
            <a id="review-description">
            </div>
            <br>
            {{form.starrating}}
            {{form.product_id}}
            {{form.submit(class_='btn btn-outline-primary')}}
          </form>
        </div>
      </div>
    </div>
    </div>
</div>

  <script type="text/javascript">
  if (window.hasOwnProperty('webkitSpeechRecognition') == 0) {
      $('#RecordingSupported').html(' ');
  }

  var dict = {
    0: " ",
    1: "1 Star - Poor",
    2: "2 Stars - Adequate",
    3: "3 Stars - Average",
    4: "4 Stars - Good",
    5: "5 Stars - Excellent"
  }
  $(function () {
    if (document.getElementById('starrating').value){
      $('#counter').html(dict[document.getElementById('starrating').value])
      var $rateYo = $("#rateYo").rateYo({
        precision: 0,
        rating: document.getElementById('starrating').value,
        onChange: function (rating, rateYoInstance) {
          // $(this).next().text(dict[rating]);
          $('#counter').html(dict[rating])
          }
        });
    } else {
      var $rateYo = $("#rateYo").rateYo({
        precision: 0,
        onChange: function (rating, rateYoInstance) {
          // $(this).next().text(dict[rating]);
          $('#counter').html(dict[rating])
          }
        });
    }
    $("#rateYo").click(function () {
      /* get rating */
      var rating = $rateYo.rateYo("rating");
      document.getElementById('starrating').value=rating ;
    });

  });



  function displaylength(thefield,thefeedback,text_min,text_max){
    //var raw_text = $(thefield).val().replace(/\s/g, '');
    var raw_text = $(thefield).val();
    var text_length = raw_text.length;
    var min_text_remaining  = text_min - text_length
    var text_remaining = text_max - text_length;
    if (text_length < text_min && text_length>0){
      $(thefeedback).html('You must write ' + min_text_remaining + ' more characters before submitting.')
    } else if (text_length >= text_min) {
      $(thefeedback).html(text_remaining + '/' + text_max + ' maximum characters remaining.');
    }
  }


  $(heading).ready(function() {
    var text_min = 10;
    var text_max = 50;
    displaylength('#heading','#heading_feedback',text_min,text_max);

      $('#heading').keyup(function() {
        displaylength('#heading','#heading_feedback',text_min,text_max);
      });
  });

  $(document).ready(function() {
    var text_min = 100;
    var text_max = 2000;
    displaylength('#description','#textarea_feedback',text_min,text_max);

    $('#description').keyup(function() {
      displaylength('#description','#textarea_feedback',text_min,text_max);
    });
  });


  function startDictation() {

    if (window.hasOwnProperty('webkitSpeechRecognition')) {
      var recognition = new webkitSpeechRecognition();
      var text_min = 100;
      var text_max = 2000;
      recognition.continuous = false;
      recognition.interimResults = false;
      recognition.lang = "en-US";
      $('#RecordingStatus').html('Recording')
      recognition.start();

      recognition.onresult = function(e) {
        var thestring = $('#description').value;
        if ($('#description').matches(":focus")){
          var cursorPosition = $('#description').prop("selectionStart");
        } else {
          var cursorPosition = thestring.length;
        }

        alert (cursorPosition);

        var beforeCursor = thestring.substring(0, cursorPosition);
        var afterCursor = thestring.substring(cursorPosition,thestring.length);

        $('#description').value = beforeCursor + " " + e.results[0][0].transcript + afterCursor + " ";
        displaylength('#description','#textarea_feedback',text_min,text_max);
        $('#RecordingStatus').html('')
        recognition.stop();
      };

      recognition.onend = function() {
        $('#RecordingStatus').html('')
      };
    }
    else {
      alert('Unfortunately, your browser does not support voice to text.  Please use the text area field to enter your review.')
    }
  }


</script>
{% endblock %}
