{% extends "base.html" %}
{% block content %}
{% if nouser %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="{{url_for('admin.admin')}}">Admin</a></li>
  <li class="breadcrumb-item active" aria-current="page">Products</li>
</ol>
{% else %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="{{url_for('admin.admin')}}">Admin</a></li>
  <li class="breadcrumb-item"><a href="{{url_for('admin.all_users')}}">Users</a></li>
  <li class="breadcrumb-item"><a href="{{url_for('admin.list_purchases')}}?uid={{user.id}}">Purchases</a></li>
  <li class="breadcrumb-item active" aria-current="page">Add Purchases</li>
</ol>
{% endif %}
<div class="jumbotron">
  <h4>Products</h4>
  <p><a href="{{url_for('admin.addproduct')}}">Add product to catalog</a></p>
  <div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
      <table class="table">
      <thead>
      <tr>
        <th scope="col">Product</th>
        <th scope="col">Image</th>
        <th scope="col">SKU</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
      {% for prod in products  %}
        <tr>
          <td>{{prod.name}}</td>
          <td><div class="col-sm-5"><img src="{{prod.image}}" width="100%" align="left"></div></td>
          <td>{{prod.sku}}</td>
          <td>{%if not nouser%} <a href="addpurchase?id={{prod.id}}&uid={{user.id}}">Add to {{user.nickname}}'s purchases</a>{% endif %}</td>
        </tr>
        {% endfor %}
      </tbody>
      </table>
    </div>
  </div>
</div>
</div>


</div>
{% endblock %}
