{% extends "base.html" %}
{% block content %}
{% if current_user.is_authenticated %}
    <div>
      <div class="container-fluid tescoblue">
        <div class="row">
            <div class="col-6 col-sm-6 medwhite">Hi, {{current_user.nickname}}</div>
            <div class="col-6 col-sm-6 p-0">
              <div class="container-fluid">
              <div class="row">
                <div class="col-7 col-sm-4 col-md-3 narrowwhite verticalLine">CLUBCARD<br />POINTS<br />EARNED</div>
                <div class="medwhite col-5 col-sm-8 col-md-9">{{reviewpoints}}</div>
              </div>
              </div>
            </div>
        </div>
      </div>

    {%if purchases%}
    <div class="container-fluid tescolightblue">
      <div class="row">
        <div class="col-12 col-sm-12 subheading">Products To Review</div>
      </div>
    </div>
    <br/>
    {% for item in purchases%}
    <div class="container-fluid">
        <div class="row">
          <div class="col-4 col-sm-3 col-md-2 p-1"><img src="{{item.product.image}}" width="80%" align="left"></div>
          <div class="col-5 col-sm-6 col-md-7 p-0"><strong>{{item.product.name}}</strong><br />Earn <strong>{{item.product.reviewpoints}}</strong> Clubcard points</div>
          <div class="col-3 col-sm-3 col-md-3"><br /><a href="writereview?id={{item.product.id}}" class="arrowlink">REVIEW&nbsp;></a></div>
      </div>
      <div class="row">
        <div class="col-11 col-sm-10"><hr></div>
        <div class="col-1 col-sm-2"></div>
    </div>
    </div>
    {% endfor %}

    {% else %}
      {% if reviewthisweekcount == 5%}
      <p class= 'pl-5 pt-5'>You have submitted the maximum number of reviews for the week.</p>
      <p class= 'pl-5'>Please check back again next week.</p>
      {% else %}
      <p class= 'pl-5 pt-5'>We don't have any products for you to review right now.</p>
      <p class= 'pl-5'>Please check back later.</p>
      {% endif %}
    {% endif %}
    {% else %}
      <div class="jumbotron-cover">
        <p><br><br></p>
        <div class="h1-home d-none d-sm-block">
          Tesco Customers,
          <br>
          Helping Tesco Customers
        </div>
        <div class="h1-home-small d-block d-sm-none">
          Tesco Customers,
          <br>
          Helping Tesco Customers
        </div>
      </div>
      <br><br>
        <div class="col-sm-12">
            <div>
              <h4>Welcome to the Tesco Content Community <sup>BETA</sup></h4>
              <p>A community of passionate Tesco customers that want to help other Tesco customers make more informed decisions about products they buy,
                and who want their valuable feedback to influence Tesco and brands - and earn more Clubcard points.</p>
              <p>Write reviews, share feedback, and create content, for products you buy at Tesco - and earn Clubcard points for participating. Your reviews, after being accepted, will be shown on the Tesco.com website.</p>
              <p><h4>How it works:</h4>
                <ol>
                  <li>Register to join the community</li>
                  <li>Write reviews, share feedback, create content - for products you buy at Tesco</li>
                  <li>Earn Clubcard points for accepted content</li>
                </ol>
              </p>
              <p>Please <a href="{{url_for('main.login')}}">sign in</a> or <a href="{{url_for('main.register')}}">register</a> to get started.</p>
            </div>
        </div>
    {%endif%}


{% endblock %}
